@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


html {
  overflow-x: hidden;
  width: 100vw;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;  
}

#root {
  min-height: 100vh;
}

.App {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

/* GENERAL */
.color-clickable {
  color: #6c339b; 
  font-weight: 500;
}

.advertisement-container {
  background: radial-gradient(circle, rgb(114, 46, 103) 0%, rgb(0, 0, 0) 100%);;
}

/* COMPONENT STYLING */
.card-header {
  height: 10px;
  background: linear-gradient(135deg, #9645D7 0%, #b4a0c4 100%);
}

.colorfull-divider {
  height: 3px;
  background: linear-gradient(135deg, #9645D7 0%, #b4a0c4 100%);
}

.section-header {
  font-size: x-large;
  font-weight: 800;  
}

/* NAV STYLING */
.big-nav-container a {
  font-size:1.2em;
  font-weight: 800; 
  color: #280e3d; 
}

.big-nav-container a:hover {
  cursor: pointer;
  color:black;
}

.shopping-cart-number {
  font-size: x-large;
  font-weight: 700;
}

.shopping-cart-number-small {
  font-size: x-large;
  font-weight: 800;
}

.small-nav-container a {
  font-size: large;
  font-weight: 800;
}

.small-nav-container a:hover {
  font-size: large;
  font-weight: 1000;
  color:#04b5c2;
}

/* FOOTER STYLING */
.footer {
  font-size: smaller;
}

/* ITEM PREVIEW STYLING */
.item-preview:hover {
 color: black;
 background-color:rgb(255, 255, 255);
 box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.item-preview h4 {
  color: rgb(61, 61, 61);
  font-weight: 800;
}

.item-preview h5 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.image-inactive {
  height: 200px;
}

.image-active {
  width: 270px;
  max-height: 270px;
}


/* CAROUSEL STYLING */
.custom-arrow {
  color: #000000;
  height: 50px;
  width: 50px;
  background-color: #00e38c;
}

/* ITEM PAGE STYLING*/
.item-brand-text {
font-size: x-large;
font-weight: 600;
}

.item-name-text {
  font-size: x-large;
  font-weight: 400;
}

.item-price-text {
  padding:1rem;
  font-size: 3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: url("../public/assets/images/BrandLogoShapeTransparent.png");
  background-size:contain; 
  background-repeat:   no-repeat;
    background-position: center center;
}

.item-cart-button:hover {
  background-color: #9645D7;
  color:rgb(255, 255, 255);
}

.item-cart-button {
color: #000000;
background-color: #66ea64;
font-size: large;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 80%;
border-style:outset;
border-color: #e2dfdf;
border-radius: 10px;
}

.description-header-text {
  font-weight: 700;
  font-size: large;
}

.item-page-quantity img {
  max-width: 30px;  
  max-height: 30px
}

.item-page-quantity input {
  font-weight: 400;
  font-size: x-large;
}

/* CART PAGE STYLING */

.cart-table-header {
  font-weight: 800;
  font-size: larger;
}

.cart-item-name-link:hover {
  font-weight: 700;
}

.cart-item-preview small {
  font-weight: 600;
}

.cart-item-preview-shadow {
  box-shadow: 1px 0px 17px -10px rgba(0,0,0,0.75);
}

.cart-added-message {
  color: rgb(28, 28, 28);
  position: fixed;
  top: 0%;
  width: 100%;
  min-height: 5%;
  left: 0%;
  font-size: x-large;
  font-weight: 700;
  opacity: 95%;
  background: linear-gradient(135deg, #9645D7 0%, #b4a0c4 100%);
  padding-left: 1em;
  padding-right: 1em;
}

/* CHECKOUT PAGE STYLING */
.checkout-page input {  
  border-top: none; 
  border-left: none;
  border-right: none;
  border-width: 2px;
  border-color: #ff3eec;
}

.checkout-page :focus {  
  border-top: none; 
  border-left: none;
  border-right: none;
  border-width: 2px;
  border-color: #ff3eec;
}

.checkout-form-header {
  font-weight: 600;
  font-size: larger;
}

.checkout-total-amount {
  font-weight: 600;
  color: #ff2084;
}

/* SUCCESS PAGE STYLE */
.success-header-text {
  font-size: x-large;
  font-weight: 500;
}

/* ANIMATIONS */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}